.ITData {
  height: 50vh;
  width: 100vw;
  padding: 3.5rem 6.5rem;
  transition: 0.5s ease-in-out;
  transition-property: opacity, transform, visibility;

  &--hidden {
    visibility: hidden;
    opacity: 0;
    transform: translateY(5rem);
  }

  h1,
  h2 {
    margin: 0;
    color: $primary;
  }

  &__date {
    font-size: 10.625rem;
    line-height: 0.9;
  }

  &__title {
    font-size: 2.25rem;
    text-transform: uppercase;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
