.title {
  position: absolute;
  transform: translateX(-50%);
  top: 10%;
  left: 50%;
  transition: 0.75s ease-in-out;
  transition-property: opacity, transform, visibility;

  &--disabled {
    visibility: hidden;
    opacity: 0;
    transform: translate(-50%, 5rem);
  }

  &__wrapper {
    padding: 2rem;
  }

  &__item {
    margin: 0;
    text-transform: uppercase;
    color: $primary;
    text-align: center;
    font-size: 3.125rem;

    &:nth-of-type(2) {
      font-size: 9rem;
      font-style: italic;
      line-height: 6rem;
    }
  }
}
