// CSS Variables
body,
html {
  --primary: #4B7CFB;
  --secondary: #f5e5e0;
  --beige: #efdbd4;
  --beige-sky: #f1dad2;
  --black: #151515;
  --white: #f4f4f4;
  --success: #00ff00;
  --info: #00ccff;
  --warning: #ffcc00;
  --danger: #ff0000;
}

// Sass Colors Variables
$darken-amount: 10%;
$lighten-amount: 10%;

$primary: #4B7CFB;
$primary-dark: darken($primary, $darken-amount);
$primary-light: lighten($primary, $lighten-amount);

$secondary: #f5e5e0;
$secondary-dark: darken($secondary, $darken-amount);
$secondary-light: lighten($secondary, $lighten-amount);

$beige: #efdbd4;
$beige-dark: darken($beige, $darken-amount);
$beige-light: lighten($beige, $lighten-amount);

$beige-sky: #f1dad2;
$beige-sky-dark: darken($beige-sky, $darken-amount);
$beige-sky-light: lighten($beige-sky, $lighten-amount);

$black: #151515;
$black-dark: darken($black, $darken-amount);
$black-light: lighten($black, $lighten-amount);

$white: #f4f4f4;
$white-dark: darken($white, $darken-amount);
$white-light: lighten($white, $lighten-amount);

$success: #00ff00;
$success-dark: darken($success, $darken-amount);
$success-light: lighten($success, $lighten-amount);

$info: #00ccff;
$info-dark: darken($info, $darken-amount);
$info-light: lighten($info, $lighten-amount);

$warning: #ffcc00;
$warning-dark: darken($warning, $darken-amount);
$warning-light: lighten($warning, $lighten-amount);

$danger: #ff0000;
$danger-dark: darken($danger, $darken-amount);
$danger-light: lighten($danger, $lighten-amount);

// Sass fonts
$lato: 'Lato', sans-serif;
