@import './_variables.scss';
@import './_fonts.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  padding: 0;
  margin: 0;
  background-color: $black;
  font-family: 'Lato', sans-serif;
}

.t-25 {
  transition: 0.25s ease-in-out !important;
}
