.subtitles {
  position: fixed;
  z-index: 999;
  transform: translateX(-50%);
  bottom: 2.3rem;
  left: 50%;
  width: 60%;
  height: auto;
  border-image: url(/img/border-subtitle.svg) 10 / auto round;
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    background-color: $secondary;
    margin: 10px;
    width: 100%;
  }

  &__wrapper {
    position: relative;
    top: 0;
    left: 0;
    font-size: 0.875rem;
    padding: 1rem;
    text-align: center;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__item {
    animation: fadeIn 0.5s;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
